.yuvraj {
    position: relative;
}

img{
    width: 100%;
    height: auto;
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: greenyellow;
    padding: 10px;
    border-radius: 10px;
}

.gallery{
    background-color: blue;
    color: white;

}



.welcome{
    background-color: rgb(68, 60, 104);
    padding: 100px;
    border-radius: 30px;
    color: white;
}

button{
    margin-right: 15px;
}

.foto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    /* background-color: rgb(68, 60, 104); */
    gap: 10px;

}

.govalu{

    width:20%;
    height : 200px;
}

.sun{
    padding: 100px;
    margin: 30px;
    border-radius: 30px;
    background-color: rgb(57, 48, 83);
}

.sun p{
     font-size: 45px;
     font-style: oblique;
     color: white;

}

@media screen and (max-width: 580px) {
    .btn-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

@media screen and (max-width: 525px) {
    .foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
}