.navbar-nav{
    gap: 10px;
    font-family: Oldtown;
}

.shelly{
    background-color: #635985;
    padding: 10px;
    
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link.active {
  color: orange;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: orangered;
  text-decoration: dotted;
}

navbar-brand {
    background-color: powderblue;
    transition: background-color 0.5s;
  }
  
  navbar-brand:hover {
    background-color: gold;
  }

  

  