.power{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px;
}


.meaning{
    display: flex;
}

.meaning  img{
      width: 100px;
      height: auto;
    }     

@media screen and (max-width:982px) {
    .power{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

