.plan{
    display: flex;
    flex: wrap;
    text-align: left;
    margin-right:100px;
    
  
   
    
    

}

.plan p{
    font-size:38px;
    background-color:azure;
    padding:2px;
    background-size: 9px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey inset;
    text-align: center;
}

.plan li{
    font-size:25px;
}

.basic{
    display: flex;
    flex: wrap;
    margin-left: 100px;
    background-color:rgb(68, 60, 104);
    color:white;
    width:300px;
    height:auto;
    border-radius: 20px;
    padding:3%;
    box-shadow: 10px 10px 5px lightblue;
    
}   

.basic ul li p{
    color: black;
}

.advance ul li p{
    color: black;
}

.updation ul li p{
    color: black;
}
    
    


.advance{
    display: flex;
    flex: wrap; 
    margin : center;
    margin-left: 100px;
    background-color:rgb(68, 60, 104);
    color:white;
    width:300px;
    height:auto;
    padding:3%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px lightblue;
}   
    
    


.updation{
    display: flex;
    flex: wrap; 
    margin-left: 100px;
    background-color:rgb(68, 60, 104);
    color:white;
    width:300px;
    height:auto;
    border-radius: 20px;
    padding:3%;
    box-shadow: 10px 10px 5px lightblue;
    
}  
    
 @media screen and (max-width:1000px) {
    .plan{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        gap:40px;
    }
 }