.govaalu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px;
}

.decor{
    background-color: rgb(57, 48, 83);
    color:white;
    padding: 8%;
    text-align: left;
    border-radius: 25px;
}

.decor h3{
    font-family: Comic Sans MS;
}

.decor p{
   font-family: Bradley Hand;  
}

.murugesan{
    display: flex;
}

.bat{
   width: 100px;
}

