.colour{
    background-color: #18122B;
    padding: 7%;
    color: whitesmoke;
    text-align: left;
    border-radius: 50px;
}

ul {
    list-style-type: none;
} 

a{
    text-decoration: none;
}

.style6 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

.aaduven{
    color: white;
}
